
@{
    ViewBag.Title = "SendMessage";
}
@model Seminarski.ViewModels.Message;
<h2>Slanje notifikacije korisniku</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Notifikacija</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @*<div class="form-group">
            @Html.LabelFor(model => model.Primalac, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Primalac, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Primalac, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.SadrzajPoruke, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SadrzajPoruke, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SadrzajPoruke, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pošalji SMS" class="btn btn-default" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <a class="btn" asp-controller="Home" asp-action="Index">Nazad</a>
            </div>
        </div>
    </div>
}

@*<div>
    @Html.ActionLink("Nazad", "/Home/Index")
  </div>*@

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@  